<h1> Welcome, <%= current_user.full_name %>! </h1>

<h3> Quizzes </h3>

<% @sections.each do |section|%>
  <% section_quizzes = @quizzes.select{ |q| q.section_id == section.id } %>
  <h5><%= section.name %> </h5>
  <% section_quizzes.each do |quiz| %>
    <div class="quiz">
      <ul>
        <li><%= link_to "#{quiz.name}", new_quiz_sitting_path(quiz) %></li>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_for :add_section, url: add_section_path do |f|  %>
		<%=f.text_field :passcode %>
		<%= submit_tag "Add Section" %>
	<% end %>
