<h1>New Quiz</h1>

<%= form_for @quiz, url: quizzes_path do |f| %>
  <%= render 'standards' %>

  <% @sections.each do |section| %>
    <%= check_box_tag "[sections][#{section.id}]" %>
    <%= label_tag section.name %><br/>
  <% end %>

  <%= render 'quiz', f: f %>
<% end %>
