<h1><%= @quiz.name %></h1>
<p><%= @quiz.instructions %></p>



  <% @quiz.questions.each do |q| %>
    <h4><%= q.query %></h4>
  <% q.options.each do |o| %>
    <input type="radio" name="<%= q.id %>" value="<%= o.id%>"><%= o.content %>



  <% end %>
  <% end %>



<!-- THIS LAYOUT IS ONLY FOR DEVELOPMENT!!! -->
