<h1><%= @quiz.name %></h1>
<p><%= @quiz.instructions %></p>

<%= form_for :sitting, url: quiz_sittings_path(@quiz) do |f| %>
  <% @quiz.questions.each do |question| %>
    <div>
      <p><%= question.query %></p>
      <p><% question.options.each do |option| %>

        <input type="radio" name="<%= question.id %>" value="<%= option.id %>"><%= option.content %><br>
        <% end %>
      </p>
    </div>
  <% end %>
        <%= f.submit "Submit" %>
<% end %>



<%= hidden_field_tag :stock_symbol, 'test' %>
<!-- THIS LAYOUT IS ONLY FOR DEVELOPMENT!!! -->
