<!DOCTYPE html>
<html>
<head>
  <title>ExitSlips</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Philosopher:400italic,700italic' rel='stylesheet' type='text/css'>

  <link href='http://fonts.googleapis.com/css?family=Lato:400italic,700italic' rel='stylesheet' type='text/css'>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>
	
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
<div id="landing">


		<div class="feature" id="headline">
		<ul id="log-in">
			<li><%= link_to "Sign Up", new_user_path %> </li>
			<li><%= link_to "Sign In", new_user_session_path %> </li>
		</ul> 
			<div class="feature-content">
				<h1>ExitSlips</h1>
				<p>More feedback. Less Paperwork.</p>
				<a href="#description"><i class="fa fa-arrow-down fa-4x"></i></a>
			</div>
		</div>

<div class="feature" id="description">
	<div id="feature-icon">
	</div>
	<div class="feature-content">
	<h1>Exit slip data made simple.</h1>
	<p>ExitSlips keeps track of your students' exit slip data so you can spend more time teaching.</p>
	<a href="#create-quiz"><i class="fa fa-arrow-down fa-4x"></i></a>
	</div>
</div>

<div class="feature" id="create-quiz">
	<div class="feature-content">
	<h1>Create quizzes that target CCSS</h1>
	<p>Simply indicate your grade level and content area, and exit slips automatically provides codes and descriptions for every Common Core State Standard that applies.</p>
	<a href="#see-data"><i class="fa fa-arrow-down fa-4x"></i></a>
	</div>
</div>

<div class="feature" id="see-data">
	<div class="feature-content">
	<h1>See student progress toward class goals</h1>
	<p>Use ExitSlips to see how your students are mastering the standards, broken down by class and quiz.</p>
	<a href="#make-groups"><i class="fa fa-arrow-down fa-4x"></i></a>
	</div>
</div>

<div class="feature" id="make-groups">
	<div class="feature-content">
		<h1>Make groups based on quiz results</h1>
		<p>After students complete an exit slip, automatically separate groups based on results. Choose heterogeneous, homogeneous, or random groups and ExitSlips takes care of the rest.</p>
		<a href="#grade"><i class="fa fa-arrow-down fa-4x"></i></a>
	</div>
</div>

<div class="feature" id="grade">
	<div class="feature-content">
	<h1>Quickly grade open responses</h1>
	<p>With ExitSlip's Tinder for Student Understanding® feature, quickly swipe through open student responses, easily generating groups for the next day's instruction.</p>
	</div>
</div>

</div>

</body>
</html>
