
<p>
<%= form_for @section do |f| %>
  <%= f.text_field :name,:placeholder => "name"%>
  
</p>

 <p>
    <%= f.select :subject, Section.all.collect {|section| [ section.subject ] } %>
  </p>

 <p>
     <%= f.select :grade, Section.all.collect {|section| [ section.grade ] } %>
 </p>
 

	<p>
    <%= f.submit %>
  </p>
<% end %>