<div id="table-all-standards">
  <table class="table-active">
    <thead>
      <tr>
        <td></td>
        <% @standards.each do |standard| %>
          <td><div id="standard-code"><%= standard.code %></div></td>
        <% end %>
      </tr>
    </thead>
    <% @students.each do |student| %>
      <tr id=<%= student.id %>>
        <td><%= student.full_name %></td>
        <% @standards.count.times do %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <%= link_to "Download as .csv", section_path(@section, format: "csv") %><br>

  <%= link_to 'Edit', {:controller => 'sections', :action => 'edit'}, {:method => :get} %><br>
  <%= link_to 'Delete', section_path, :confirm => 'Are you sure?', :method => :delete %>
</div>
