<div id="table-all-standards">
  <table class="table-active">
    <thead>
      <tr>
        <th></th>
        <% @standards.each do |standard| %>
          <th><div class="tooltip-heading" title="<%= standard.description %>" id="standard-code"><%= standard.code %></div></th>
        <% end %>
      </tr>
    </thead>
    <% @students.each do |student| %>
      <tr id="<%= student.id %>">
        <td class="table-student-name"><%= student.full_name %></td>
        <% @standards.count.times do %>
          <td class='table-mastery-cell'></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<br>
  <%= link_to section_path(@section, format: "csv"), class: 'link-box' do %>
    <div>Download as CSV</div>
  <% end %>

  <%= link_to edit_section_path(@section), class: 'link-box' do %>
    <div>Edit Section</div>
  <% end %>

  <%= link_to @section, method: :delete, data: {confirm: 'Are you sure?'}, class: 'link-box' do %>
    <div>Delete Section</div>
  <% end %>
</div>
