<%= render 'layouts/teacher_section_header' %>
<%= render 'sections_sidebar' %>
<%= render 'quizzes_section_sidebar'%>

<div class="section_tables">
<h1><%=@section.name%></h1>

<%= render 'section_data_table' %>
<% @quizzes.each do |quiz|%>
	<div id="quiz_table_<%=quiz.id%>" class="quiz_table">
	<%= render 'section_quiz_data_table', quiz:quiz %>
	</div>
<% end %>

</div>

<%= hidden_field_tag :section_id, @section.id %>

