<%= render 'layouts/teacher_section_header' %>
<%= render 'sections_sidebar' %>

<h1><%=@section.name%></h1>

<%= render 'section_data_table' %>
 
<%= button_to 'Edit', {:controller => 'sections', :action => 'edit'}, {:method => :get} %>
<%= button_to 'Delete', section_path, :confirm => 'Are you sure?', :method => :delete %>


