
<div class="section_tables">
<h1 id="section-name"><%=@section.name%></h1>
<%= render 'quizzes_drop_down'%>

<%= render 'section_data_table' %>
<% @quizzes.each do |quiz|%>
	<div id="quiz_table_<%=quiz.id%>" class="quiz_table">
	<%= render 'section_quiz_data_table', quiz:quiz %>
	</div>
<% end %>

</div>

    <div class="cr_sectshow"></div>


<%= hidden_field_tag :section_id, @section.id %>

