<!DOCTYPE html>
<html>
<head>
  <title>ExitSlips</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
    <div id="header_text"><%= link_to 'ExitSlips', root_path %></div>
    <nav>
      <% if user_signed_in? %>
      <button>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      </button>
      <% else %>
      <button>
      <%= link_to 'Sign Up', new_user_registration_path %>
      </button>
      <button>
      <%= link_to 'Sign In', new_user_session_path %>
      </button>
      <% end %>
    </nav>
   </header>
    <div id="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
</body>
</html>
